.books_table {
    border-collapse: collapse;

    width: 1000px;

    margin: 10px 0;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.books_table thead tr {
    background-color: #D0B097;
    color: white;

    text-align: left;
    font-weight: bold;
}

.books_table th,
.books_table td {
    text-align: center;
    width: 320px;
    padding: 12px 15px;
}

.books_table tbody tr {
    border-bottom: 1px solid #E5CEBC;
}

.books_table tbody tr:nth-of-type(even) {
    background-color: #F5E9E0;
}

.books_table tbody tr:last-of-type {
    border-bottom: 2px solid #D0B097;
}

.books_table_pagination {
    display: inline-flex;
    justify-content: space-between;
    height: 25px;
}

.table_header {
    display: inline-flex;
    height: 25px;
}